.form-main {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
}

.form-main .form-add-user {
    display: flex;
    flex-direction: column;
}

.input-field-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.input-field-main label,
select {
    padding: 0.75rem 1rem;
    background-color: transparent;
}

.input-field-main label {
    width: 30%;
}

.input-field-main input::placeholder {
    color: rgba(0, 0, 0, 0.877);
}

.input-field-main label {
    font-size: 0.9rem;
    color: rgb(70, 70, 70);
}

.input-field {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.input-field .error-inputField {
    color: rgb(255, 67, 67);
    font-size: 0.9rem;
    padding: 0.1rem 0;
}

.input-field input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    background-color: transparent;
    font-size: 1rem;
}

.input-field select {
    width: 100%;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1rem;
}

.form-add-user .buttons-form {
    width: 60%;
    display: inline-flex;
    align-items: center;
    margin: 3rem auto 0 auto;
    justify-content: space-between;
}

.buttons-form button {
    padding: 1rem;
    width: 45%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons-form .btn-save {
    color: #fff;
    background-color: rgb(5, 3, 92);
}

.items-start {
    align-items: flex-start;
}

.active-error-input-margin {
    margin-bottom: 0.3rem;
}

@media (max-width: 767px) {
    .form-main {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .form-add-user .buttons-form {
        width: 100%;
    }
}